body {
  margin: 0;
  color: white;
  background-color: black;
  width: 100%;
}
.site-container {
  position: absolute;
  top: 76px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}
header {
  width: 100%;
  height: 50px;
  background-color: rgb(53, 53, 53);
  border-bottom: 2px solid rgba(51, 51, 51, 0.473);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calling-name {
  margin-left: 20px;
  font-weight: 600;
  color: rgb(194, 194, 194);
}

.img-logo {
  width: 40px;
  height: 40px;

  object-fit: cover;
  border-radius: 50%;
}
#hire-meBtn {
  background-color: #4f0b8f;
  color: white;
  font-size: 1.2rem;
  display: none;
  border-radius: 8px;
  border: none;
  width: 120px;
  height: 30px;
}
.navbar {
  position: relative;
}

.burger {
  display: none !important;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
  margin-left: 10px;
}
.menu-panel {
  background-color: #111;
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 50vh;
  padding: 50px 20px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  transition: right 0.5s ease-in-out;
  z-index: 1000;
}
.menu-panel.active {
  right: 0;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-panel ul li {
  margin: 20px 0;
}

.menu-panel ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.menu-panel ul li a:hover {
  color: #666;
  transform: scale(1.1);
}
.navigation-bar > ul {
  display: flex;
  list-style: none;
}

.navigation-bar > ul > li {
  padding: 0px 25px;
}

.navigation-bar > ul > li > a {
  font-weight: 500;
  font-size: 1.25rem;
  color: white;
}

ul > li > a:hover {
  color: rgba(24, 33, 155, 0.829);
}
.logo-container {
  display: flex;
  gap: 10px;
}
.menu-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.name {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0px 10px 10px;
}

/* .side-navigation-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.side-navigation-bar > ul {
  list-style: none;
}

.side-navigation-bar > ul > li {
  padding: 10px 0px;
}
.side-navigation-bar > ul > li > a {
  font-size: 20px;
  color: rgb(179, 176, 176);
}

.side-navigation-bar > ul > li > a:hover {
  color: white;
  text-decoration: underline rgb(201, 201, 201);
} */

.home-content {
  width: 100%;
  position: relative;
  top: 70px;
  display: flex;
  justify-content: space-between;
}
#home {
  position: relative;
  height: auto;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 0;
}
#home > .background-text {
  font-size: 8rem;
  font-weight: 700;
  opacity: 0.3;
  -webkit-text-fill-color: #0a0a0a00;
  -webkit-text-stroke: 5px hsla(0, 0%, 78%, 0.176);
  position: absolute;
  top: 60px;
  left: 30%;
  letter-spacing: 6px;
  z-index: 0;
  color: rgb(0, 0, 0);
}

.home-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  height: fit-content;
  margin: 20px 5px;
}
.name {
  font-size: 1.2rem;
  margin: 5px;
  font-weight: 500;
  margin: 5px 0px;
}
.primaty-title {
  font-size: 4rem;
  margin: 15px 0px;
  background: linear-gradient(90deg, #5606a0, #5f7781);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 900;
}

.home-description {
  font-size: 1.25rem;
  font-weight: 500;
  color: rgb(189, 189, 189);
  padding: 17px 5px;
}
.contact-btn {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.btn {
  padding: 10px 20px;
  width: 110px;
  height: 50px;
  background-color: #5a37f8;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn > a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.btn:hover {
  background-color: #a855f7;
  cursor: pointer;
}
.profile-image {
  width: 30%;
  height: 30%;
  object-fit: cover;
}

/* @media screen and (min-width: 1440px) {
  body {
    overflow-x: hidden !important;
  }
  .site-container {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
  }

  #home {
    position: relative;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 0;
  }
  .menu-panel {
    display: none;
  }
  .navigation-bar > ul > li > a {
    font-weight: 500;
    font-size: 1.9rem;
    color: white;
  }
  .img-logo {
    display: none;
  }

  .name {
    font-size: 1.6rem;
  }
  .primaty-title {
    font-size: 4rem;
  }
  .home-description {
    font-size: 1.8rem;
  }
  .contact-btn {
    width: 250px;
    justify-content: space-between;
    font-size: 1.4rem;
  }
  .profile-image {
    width: 30%;
    height: 30%;
  }
} */

@media screen and (max-width: 320px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .site-container {
    top: 60px;
    height: calc(100% - 60px);
  }

  header {
    padding: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-container {
    display: flex;
    align-items: center;
    margin: 0 15px;
    width: 100%;
    height: 40px;
  }

  .calling-name {
    display: none;
  }
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10%;
  }

  .img-logo {
    width: 30px;
    height: 30px;
    margin-bottom: 0;
  }
  .burger {
    display: block !important;
    font-size: 1.4rem;
  }

  .navigation-bar {
    display: none;
  }

  .menu-panel {
    width: calc(100% - 100px);
  }
  .menu-panel ul li a:hover {
    color: #666;
    transform: scale(1.1);
  }
  .name {
    font-size: 1rem;
    margin: 8px 0;
  }

  /* .side-navigation-bar {
    gap: 10px;
  } */

  /* .side-navigation-bar > ul > li {
    padding: 8px 0;
  } */
  /* 
  .side-navigation-bar > ul > li > a {
    font-size: 1rem;
  } */

  .home-content {
    flex-direction: column;
    align-items: center;
    top: 50px;
  }

  #home {
    margin-left: 4%;
    margin-right: 4%;
  }

  #home > .background-text {
    font-size: 3rem;
    -webkit-text-stroke: 3px;
    top: 40px;
    left: 15%;
    letter-spacing: 4px;
  }

  .home-info {
    width: calc(100% - 20px);
    margin: 15px 4px;
  }

  .primaty-title {
    font-size: 1.5rem;
    margin: 10px 0;
  }

  .home-description {
    font-size: 1rem;
    padding: 10px 4px;
  }

  .contact-btn {
    margin: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .btn {
    width: 130px;
    height: 40px;
    padding: 8px 15px;
  }

  .btn > a {
    font-size: 0.9rem;
  }

  .profile-image {
    width: calc(100% - 40px);
    height: auto;
    margin: 20px auto;
  }

  #hire-meBtn {
    width: 90px;
    font-size: 0.9rem;
    display: block;
    height: 25px;
  }

  .side-navigation-bar > ul > li > a,
  .btn {
    padding: 0px 10px;
    margin: 10px 0px;
    min-height: 44px;
    display: flex;
    align-items: center;
  }

  * {
    margin-bottom: 0.8em;
  }

  .home-description,
  .name {
    line-height: 1.3em;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  body {
    width: calc(100% - 10px);
  }

  .site-container {
    top: 60px;
    width: calc(100% - 10px);
  }

  header {
    width: calc(100% - 10px);
    height: 45px;
  }
  .logo-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
  }

  .calling-name {
    display: none;
  }

  .img-logo {
    width: 35px;
    height: 35px;
  }

  #hire-meBtn {
    display: block;
    width: 100px !important;
    height: 28px;
    font-size: 0.8rem;
  }
  .menu-panel > ul > li > a {
    font-size: 1.2rem;
  }
  .menu-panel ul li a:hover {
    color: #666;
    transform: scale(1.1);
  }
  .navigation-bar {
    display: none;
  }

  .burger {
    display: block !important;
    margin-right: 10px;
  }

  .home-content {
    flex-direction: column;
    align-items: center;
    top: 40px;
    width: calc(100% - 20px);
  }

  #home {
    margin-left: 4%;
    margin-right: 4%;
  }

  #home > .background-text {
    font-size: 4rem;
    -webkit-text-stroke: 12px;
    top: 30px;
    left: 10%;
    letter-spacing: 3px;
  }

  .home-info {
    width: calc(100% - 20px);
    margin: 10px 5px;
  }

  .name {
    font-size: 1.1rem;
    margin: 3px 0px;
  }

  .primaty-title {
    font-size: 2.5rem;
    margin: 10px 0px;
  }

  .home-description {
    font-size: 1.1rem;
    padding: 10px 3px;
  }

  .contact-btn {
    margin: 8px;
    justify-content: center;
    gap: 10px;
  }

  .btn {
    padding: 8px 15px;
    width: 100px;
    height: 45px;
  }

  .btn > a {
    font-size: 0.9rem;
  }

  .profile-image {
    width: 80%;
    height: auto;
    margin-top: 20px;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  body {
    width: calc(100% - 10px);
  }

  .site-container {
    top: 60px;
  }

  header {
    width: calc(100% - 16px);
    height: 30px;
    padding: 14px;
    display: flex;
    justify-content: space-between;
  }

  .calling-name {
    display: none;
  }
  #hire-meBtn {
    display: block;
  }

  .img-logo {
    width: 35px;
    height: 35px;
  }

  .navigation-bar {
    display: none;
  }

  .burger {
    display: block !important;
    margin-right: 15px;
  }

  .logo-container {
    gap: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .menu-container {
    width: 50%;
    gap: 10px;
    display: flex;
    justify-content: space-between;
  }
  .menu-panel > ul > li > a {
    font-size: 1.4rem;
  }
  .menu-panel ul li a:hover {
    color: #666;
    transform: scale(1.1);
  }
  .home-content {
    flex-direction: column;
    align-items: center;
    top: 40px;
    width: calc(100% - 20px);
  }
  #home {
    margin-left: 4%;
    margin-right: 4%;
  }

  #home > .background-text {
    font-size: 4rem;
    -webkit-text-stroke: 2px hsla(0, 0%, 78%, 0.176);
    top: 40px;
    left: 10%;
    letter-spacing: 3px;
  }

  .home-content {
    flex-direction: column;
    align-items: center;
    top: 40px;
  }

  .home-info {
    width: calc(100% - 20px);
    margin: 10px 5px;
  }

  .name {
    font-size: 1.1rem;
    margin: 3px 0px;
  }

  .primaty-title {
    font-size: 2.5rem;
    margin: 10px 0px;
  }

  .home-description {
    font-size: 1.1rem;
    padding: 10px 3px;
  }

  .contact-btn {
    margin: 8px;
    justify-content: center;
    gap: 15px;
  }

  .btn {
    padding: 8px 15px;
    width: 100px;
    height: 45px;
  }

  .btn > a {
    font-size: 0.9rem;
  }

  .profile-image {
    width: 80%;
    height: auto;
    margin-top: 20px;
  }

  /* .side-navigation-bar > ul > li {
    padding: 8px 0px;
  }

  .side-navigation-bar > ul > li > a {
    font-size: 1.1rem;
  } */
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .site-container {
    top: 66px;
    height: calc(100% - 66px);
  }

  header {
    height: 40px;
    padding: 6px;
  }

  .calling-name {
    display: none;
  }

  .img-logo {
    width: 35px;
    height: 35px;
  }

  #hire-meBtn {
    display: block;
  }

  .burger {
    display: block !important;
    margin-right: 15px;
  }

  .navigation-bar {
    display: none;
  }

  .logo-container {
    width: 100%;
    gap: 5px;
  }

  .menu-container {
    width: 100%;
    gap: 10px;
    justify-content: flex-end;
  }
  .menu-panel > ul > li {
    display: block !important;
  }
  .menu-panel > ul > li > a {
    font-size: 1.5rem;
  }
  .menu-panel ul li a:hover {
    color: #666;
    transform: scale(1.1);
  }

  .name {
    font-size: 1rem;
    margin: 8px 0px 8px 8px;
  }

  .side-navigation-bar {
    gap: 10px;
    width: 100%;
  }

  .side-navigation-bar > ul > li {
    padding: 8px 0px;
  }

  .side-navigation-bar > ul > li > a {
    font-size: 1rem;
  }

  .home-content {
    flex-direction: column-reverse;
    align-items: center;
    top: 40px;
    padding: 0 15px;
  }

  #home {
    margin-left: 4%;
    margin-right: 4%;
  }

  #home > .background-text {
    font-size: 4rem;
    -webkit-text-stroke: 3px hsla(0, 0%, 78%, 0.176);
    top: 30px;
    left: 20%;
    letter-spacing: 3px;
  }

  .home-info {
    width: 90%;
    text-align: center;
    margin: 10px 0;
  }

  .primaty-title {
    font-size: 2.5rem;
    margin: 10px 0px;
  }

  .home-description {
    font-size: 1rem;
    padding: 10px 0;
  }

  .contact-btn {
    justify-content: center;
    gap: 20px;
    margin: 15px 0;
  }

  .btn {
    padding: 8px 15px;
    width: 100px;
    height: 45px;
  }

  .btn > a {
    font-size: 0.9rem;
  }

  .profile-image {
    width: 60%;
    height: auto;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    width: calc(100% - 20px);
    overflow-x: hidden;
  }

  .site-container {
    top: calc(70px);
    height: calc(100% - 70px);
    width: calc(100% - 20px);
  }

  header {
    width: calc(100%);
    height: calc(45px);
  }
  .navigation-bar > ul > li {
    padding: 0 0 0 8px;
  }

  .logo-container {
    gap: calc(8px);
    width: calc(30%);
  }

  .calling-name {
    margin-left: calc(15px);
    font-size: calc(1.1rem);
    padding: 5px 0px;
  }

  .img-logo {
    width: calc(35px);
    height: calc(35px);
  }

  .navigation-bar > ul {
    gap: calc(15px);
  }

  .navigation-bar > ul > li {
    padding: calc(0px 15px);
  }

  .navigation-bar > ul > li > a {
    font-size: calc(1.1rem);
  }

  .home-content {
    top: calc(60px);
    width: calc(100% - 30px);
    gap: calc(20px);
  }

  #home {
    margin-left: calc(6%);
    margin-right: calc(6%);
  }

  #home > .background-text {
    font-size: calc(6rem);
    -webkit-text-stroke: calc(4px);
    top: calc(50px);
    left: calc(25%);
    letter-spacing: calc(5px);
  }

  .home-info {
    width: calc(50%);
    margin: calc(15px 5px);
  }

  .name {
    font-size: calc(1.1rem);
    margin: calc(4px 0px);
  }

  .primaty-title {
    font-size: calc(3rem);
    margin: calc(12px 0px);
  }

  .home-description {
    font-size: calc(1.15rem);
    padding: calc(15px 4px);
  }

  .contact-btn {
    margin: calc(8px);
    gap: calc(15px);
  }

  .btn {
    width: calc(120px);
    height: calc(45px);
    padding: calc(8px 16px);
  }

  .btn > a {
    font-size: calc(1rem);
  }

  .profile-image {
    width: calc(40%);
    height: auto;
  }

  .menu-panel {
    width: calc(30%);
    padding: calc(25px 15px);
  }

  .side-navigation-bar {
    gap: calc(12px);
  }

  .side-navigation-bar > ul > li {
    padding: calc(8px 0px);
  }

  .side-navigation-bar > ul > li > a {
    font-size: calc(1.1rem);
  }

  #hire-meBtn {
    width: calc(110px);
    height: calc(28px);
    font-size: calc(1rem);
  }

  * {
    margin-bottom: calc(0.6em);
  }

  .home-description,
  .name,
  .calling-name {
    line-height: calc(1.4em);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  body {
    overflow-x: hidden !important;
    width: 100%;
    height: 100vh;
    padding: 0;
  }
  #home {
    margin: 0;
    padding: 80px 80px;
  }
  header {
    height: 60px;
  }
  .img-logo {
    height: 50px;
    width: 50px;
    margin-left: 20px;
  }
  .calling-name {
    margin: 0;
    font-size: 1.8rem;
  }
  .navigation-bar > ul > li {
    padding: 0px 25px;
  }

  .navigation-bar > ul > li > a {
    font-size: 1.4rem;
  }
  .navigation-bar > ul > li > a:hover {
    color: rgb(110, 62, 221);
    text-decoration: underline rgb(117, 117, 117);
  }

  .home-content {
    width: 100%;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-info {
    width: 100%;
  }
  .name {
    padding: 20px 0px;
    font-size: 1.3rem;
    width: 100%;
  }
  .primaty-title {
    font-size: 4.5rem;
  }
  #home > .background-text {
    position: absolute;
    top: 200px;
  }
  .home-description {
    font-size: 1.4rem;
  }
  .contact-btn {
    width: 350px;
    display: flex;
    justify-content: space-around;
    gap: 70px;
  }
  .btn {
    width: 120px;
    height: 40px;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
  }
  .btn:hover {
    background-color: #8109a5;
    cursor: pointer;
    width: 140px;
  }

  .profile-image {
    padding: 25px 15px;
    border: none;
  }
}
