/* 
.menu-bar .menu-item {
  display: inline-block;
  text-align: left;
}
.menu-bar {
  word-spacing: 30px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Poppins", Arial, sans-serif;
  text-transform: uppercase;
  padding: 3px;
}
.date {
  font-weight: 800;
  color: #ffb300;
  font-size: 25px;
}
  h1{
   style="text-shadow: 7px 8px 10px black"}
  */
