#services {
  width: 100%;
  height: fit-content;
  color: white;
  position: relative;
  top: 100px;
}

.Services-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 8%;
  margin-right: 8%;
  padding: 20px;
}

.text-services {
  font-size: 2.8rem;
  color: rgba(121, 54, 165, 0.774);
  font-weight: 700;
  margin: 30px 10px 10px;
  text-align: center;
  padding: 20px;
}
.service-description {
  font-size: 1.5rem;
  text-align: center;
}
.service-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
}

.card {
  width: 70%;
  height: auto;
  border: 2px solid rgba(211, 180, 180, 0.473);
  border-radius: 10px;
  padding: 30px 35px;
  cursor: pointer;
  position: relative;
  transition: transform 0.6s ease;
}

.card:hover {
  transform: translateY(-15px);
}
.card-header {
  display: flex;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
  transition: transform 0.5s ease;
}

.icon-container:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.icon-1 {
  border: 2px solid #7423aa;
}
.icon-2 {
  border: 2px solid #55d12f;
}
.icon-3 {
  border: 2px solid #7423aa;
}

i {
  font-size: 2.2rem;
  padding: 0;
  margin: 0;
  text-align: center;
}
.card1-title,
.card3-title {
  font-size: 1.5rem;
  background: linear-gradient(90deg, #a855f7, #f8f8f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 900;
}

.card2-title {
  font-size: 1.5rem;
  background: linear-gradient(90deg, #55d12f, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 900;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-description {
  font-size: 1.2rem;
  font-family: "Roboto Condensed", sans-serif;
}

.Read-more-btn {
  padding: 10px 20px;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  color: white;
  font-size: 0.9rem;
}

.btn1 {
  background-color: #4d1a88;
}
.btn1:hover {
  background-color: #7c6097;
  cursor: pointer;
}

.btn2 {
  background-color: #19941f;
}
.btn2:hover {
  background-color: #6cb456;
  cursor: pointer;
}

/* @media screen and (min-width: 1440px) {
  .Services-content {
    margin-left: 6%;
    margin-right: 6%;
  }
  .text-services {
    font-size: 4.2rem;
    color: rgba(61, 47, 190, 0.774);
  }
  .service-description {
    font-size: 1.9rem;
  }

  .card {
    width: 80%;
    border: 2px solid rgba(160, 149, 149, 0.473);
  }
  .icon-container:hover {
    transform: scale(1.5);
  }
  .card-description {
    font-size: 1.6rem;
    font-weight: 300;
  }
  i {
    font-size: 2.4rem;
  }
  .card1-title,
  .card2-title,
  .card3-title {
    font-size: 1.8rem;
  }

  .Read-more-btn {
    width: 70%;
    height: auto;
    font-size: 1.1rem;
  }
} */

@media screen and (max-width: 320px) {
  #services {
    width: calc(100% - 20px);
    top: 50px;
  }

  .Services-content {
    margin-left: 4%;
    margin-right: 4%;
    padding: 10px;
  }

  .text-services {
    font-size: 1.8rem;
    margin: 15px 5px 5px;
    padding: 10px;
  }

  .service-description {
    font-size: 1.1rem;
  }

  .service-card-container {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 5px;
  }

  .card {
    width: calc(100% - 40px);
    padding: 20px;
  }

  .icon-container {
    display: none;
  }

  .card-description {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 375px) {
  body {
    overflow-x: hidden !important;
  }

  .site-container {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
  }
  .text-services {
    font-size: 2.5rem;
    margin: 50px 10px 10px;
    padding: 20px 0px 0px;
  }
  .service-description {
    font-size: 1.2rem;
  }
  .service-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 70%;
    padding: 20px;
    border: 2px solid rgba(160, 149, 149, 0.473);
  }
  .icon-container {
    display: none;
  }

  .card1-title,
  .card2-title,
  .card3-title {
    font-size: 1.2rem;
  }
  .card-description {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  #services {
    width: calc(100% - 20px);
    top: 60px;
  }

  .Services-content {
    margin-left: 4%;
    margin-right: 4%;
    padding: 15px;
  }

  .text-services {
    font-size: 2rem;
    margin: 20px 5px 5px;
    padding: 15px;
  }

  .service-description {
    font-size: 1.2rem;
  }

  .service-card-container {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 8px;
    width: calc(100% - 16px);
  }

  .card {
    width: calc(90% - 30px);
    padding: 20px;
    margin: 0 auto;
  }

  .icon-container {
    height: 50px;
    width: 50px;
    margin-right: 15px;
  }

  i {
    font-size: 1.8rem;
  }

  .card1-title,
  .card2-title,
  .card3-title {
    font-size: 1.3rem;
  }

  .card-description {
    font-size: 1.1rem;
  }

  .Read-more-btn {
    padding: 8px 15px;
    width: 100px;
    height: 35px;
    margin-top: 15px;
    font-size: 0.85rem;
  }

  .content-container {
    width: calc(100% - 20px);
    padding: 10px;
  }

  .card-header {
    width: calc(100% - 20px);
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  #services {
    top: 60px;
  }

  .Services-content {
    margin-left: 4%;
    margin-right: 4%;
    padding: 15px;
  }

  .text-services {
    font-size: 2rem;
    margin: 20px 5px 5px;
    padding: 15px;
  }

  .service-description {
    font-size: 1.125rem;
    padding: 0 10px;
  }

  .service-card-container {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 15px;
    justify-items: center;
  }

  .card {
    width: 85%;
    padding: 20px 25px;
  }

  .card:hover {
    transform: translateY(-10px);
  }

  .card-header {
    justify-content: center;
    gap: 15px;
  }

  .icon-container {
    height: 50px;
    width: 50px;
    margin-right: 15px;
  }

  i {
    font-size: 1.75rem;
  }

  .card1-title,
  .card2-title,
  .card3-title {
    font-size: 1.25rem;
  }

  .content-container {
    padding: 10px 0;
  }

  .card-description {
    font-size: 1rem;
    line-height: 1.4;
  }

  .Read-more-btn {
    padding: 8px 16px;
    width: 110px;
    height: 35px;
    border-radius: 12px;
    margin-top: 15px;
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #services {
    top: 70px;
  }

  .Services-content {
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
  }

  .text-services {
    font-size: 2.3rem;
    margin: 20px 8px 8px;
    padding: 15px;
  }

  .service-description {
    font-size: 1.3rem;
  }

  .service-card-container {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 8px;
  }

  .card {
    width: 85%;
    padding: 25px 30px;
    margin: 0 auto;
  }

  .icon-container {
    height: 50px;
    width: 50px;
    margin-right: 15px;
  }

  i {
    font-size: 1.8rem;
  }

  .card1-title,
  .card2-title,
  .card3-title {
    font-size: 1.3rem;
  }

  .card-description {
    font-size: 1.1rem;
  }

  .Read-more-btn {
    padding: 8px 16px;
    width: 110px;
    height: 35px;
    margin-top: 15px;
    font-size: 0.85rem;
    border-radius: 12px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .text-services {
    font-size: 3.8rem;
    padding-top: 25px;
  }
  .service-description {
    font-size: 2.2rem;
    color: gray;
  }
  .service-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .card {
    width: 80%;
  }
  .card1-title,
  .card2-title,
  .card3-title {
    font-size: 2.2rem;
  }
  .card-description {
    font-size: 1.5rem;
    font-weight: 200px;
  }
  .Read-more-btn {
    width: 60%;
    height: auto;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  #services {
    padding: 80px 0px;
  }
  .Services-content {
    margin: 0;
    padding: 10px 80px;
  }
  .text-services {
    margin: 0;
    font-size: 2.5rem;
  }
  .service-description {
    font-size: 1.4rem;
  }
  .service-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .card {
    width: 80% !important;
    height: auto;
    padding: 25px;
    transition: all 0.9s ease-in-out;
  }
  .card:hover {
    transform: translateY(-18px);
    box-shadow: 0 0 10px rgba(65, 65, 65, 0.5);
    background-color: rgb(65, 65, 65);
  }
  .card1-title,
  .card2-title,
  .card3-title {
    font-size: 2rem;
  }
  .card-description {
    font-size: 1.2rem !important;
    font-weight: 200px;
  }

  .icon-container {
    height: 70px;
    width: 70px;
  }
  .icon-container:hover {
    transform: scale(1.1);
  }

  .Read-more-btn {
    height: auto;
    font-size: 1rem !important;
    transition: all 0.5s ease-in-out;
  }

  .btn1:hover {
    background: linear-gradient(90deg, #33033f, #a844a8);
    width: 60%;
  }
  .btn2:hover {
    background: linear-gradient(90deg, #0e6812, #40b35f);
    width: 60%;
  }
}
